.theme-btn {
	border: none;
	border-radius: 50%;

	@include flexbox-center;

	background-color: transparent;

	cursor: pointer;

	@media only screen and (max-width: $breakpoint-smallest) {
		padding-bottom: 0.6rem;
		img {
			height: 22px;
		}
	}
}
