.todo-form {
	font-family: inherit;

	height: 6.4rem;

	padding: 1rem 2rem;

	@include flexbox-center;
	justify-content: space-between;

	&__round {
		width: 22px;
		height: 22px;
		border: 2px solid var(--colour-checkbox);
		border-radius: 50%;
		margin-right: 2rem;
	}

	&__todo-input {
		height: 5.2rem;
		font-size: 1.8rem;
		color: var(--colour-text);
		background-color: var(--colour-card-bg);
		margin-right: 1rem;
		flex: 1;
		border-radius: inherit;
		border: none;
		outline: none;

		@media only screen and (max-width: $breakpoint-medium) {
			font-size: 1.6rem;
		}
	}

	@media only screen and (max-width: $breakpoint-small) {
		height: 6rem;
	}

	@media only screen and (max-width: $breakpoint-smallest) {
		height: 5.2rem;
	}
}
