#root {
	width: 100%;
	min-height: 100vh;

	background-image: var(--img-bg-desktop);
	background-color: var(--colour-bg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: contain;

	@media only screen and (max-width: $breakpoint-largest) {
		@include flexbox-center;
		background-position: top center;
		background-size: 125%;
	}

	@media only screen and (max-width: $breakpoint-large) {
		background-size: 162.5%;
	}

	@media only screen and (max-width: $breakpoint-medium) {
		background-size: 225%;
	}

	@media only screen and (max-width: $breakpoint-small) {
		background-size: 275%;
	}

	@media only screen and (max-width: $breakpoint-smallest) {
		background-image: var(--img-bg-mobile);
		background-size: 100%;
	}
}

main {
	width: inherit;
	min-height: inherit;

	@include flexbox-center;
}

header {
	height: 4rem;
	background-color: transparent;

	@include flexbox-center;
	justify-content: space-between;
	align-items: flex-start;

	@media only screen and (max-width: $breakpoint-smallest) {
		margin-bottom: 2.4rem !important;
	}
}

section.wrapper {
	width: 54rem;
	min-height: 90vh;
	margin: 8rem 0;

	@include flexbox-center;
	justify-content: flex-start;
	flex-direction: column;
	overflow: hidden;

	& > * {
		width: 100%;
		border-radius: 6px;
		margin-bottom: 3.2rem;
	}

	& > *:not(header):not(p) {
		background-color: var(--colour-card-bg);
	}

	@media only screen and (max-width: $breakpoint-medium) {
		width: 87.5%;
	}

	@media only screen and (max-width: $breakpoint-smallest) {
		margin: 4.4rem 0;

		& > *:not(header):not(p) {
			margin-bottom: 1.4rem;
		}
	}
}
